@media (max-width: 1200px) {
  .promo {
    &__wrapper {
      align-items: center;
    }
  }
  .title {
    &_left {
      text-align: center;
    }
  }
  .consultation {
    &__descr {
      text-align: center;
    }
  }
  .feed-form {
    margin: 0 auto;
    margin-top: 36px;
  }
  .carousel {
    &__inner {
      .slick-prev{
        left: 0;
      }
      .slick-next {
        right: 0;
        left: auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    justify-content: space-around;
  }
  .catalog {
    &__content {
      justify-content: space-around;
    }
  }
  .feed {
    padding: 70px 5px;
  }
}

@media (max-width: 767px) {
  .header {
    &__official {
      span {
        font-size: 16px;
      }
    }
    &__phone {
      font-size: 16px;
    }
  }
  .title {
    &_left {
      font-size: 28px;
    }
  }
  .consultation {
    &__descr {
      font-size: 18px;
    }
  }
  .slick-slide {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .header {
    flex-direction: column;
    &__official {
      margin-top: 15px;
    }
    &__contacts {
      margin-top: 15px;
    }
  }
  .promo {
    &__header {
      font-size: 26px;
    }
    &__subheader {
      font-size: 15px;
    }
    &__icons {
      width: 100%;
    }
  }
  .advantages {
    &__wrapper {
      flex-direction: column;
      padding-top: 51px;
    }
    &__item {
      margin: 0 auto;
    }
    &__icon {
      margin-top: 13px;
    }
    &__subtitle {
      margin-top: 20px;
    }
    &__descr {
      margin-top: 12px;
    }
  }
  .title {
    &_left {
      font-size: 20px;
    }
  }
  .consultation {
    &__descr {
      font-size: 15px;
    }
  }
  .catalog{
    &__tabs {
      display: list-item;
      li {
        margin: 6px auto;
      }
    }
  }
  .feed {
    &__item {
      display: block;
    }
    &__photo {
      display: block;
      margin: 0 auto;
    }
    &__descr {
      margin: 20px 10px
    }
  }
}