.advantages {
  min-height: 470px;
  padding: 70px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 0 0;
  }
  &__item {
    width: 280px;
    justify-content: center;
  }
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__subtitle {
    font-size: 18px;
    color: rgb(13, 13, 13);
    text-align: center;
    font-weight: 700;
    margin-top: 38px;
  }
  &__descr {
    margin-top: 26px;
    font-size: 14px;
    color: rgb(13, 13, 13);
    text-align: center;
    font-weight: 300;
  }
  a {
    color: #ff0000;
    text-decoration: none;
  }
  &__icon {
    &_animation {
      &:hover {
        animation: heart 2s ease infinite;
      }
    }
  }
}